oracle_api_key_fingerprint = "xx:xx:xx:xx:xx:xx:xx:xx:xx"
oracle_api_private_key_path = "/home/user/.oci/oci_api_key.pem"
user_ocid = "ocid1.user.oc1..aaaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
compartment_ocid = "ocid1.tenancy.oc1..aaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
region = "uk-london-1"
free_tier_availability_domain = "VBAL:UK-LONDON-1-AD-3"
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqCNbwO4gza0zK0M1BCdSADSFSRGCRGED4t45t45rfdthetnTfgbshxlaxVGVGY65fvfcvuttvnybyvuyUFVFUVYUFYU6V7vytvnytrcyuvyrcyfcysdfvdfvdfE4wveqrvVRmwAD"
ssh_private_key_path = "/home/user/.ssh/id_rsa"
instance_display_name = "pihole-wireguard"
